#base {
	background-color: #DDF8FF;
	font-family: Arvo, serif;
}

#centerpiece {
	margin: 2% 5% 2% 5%;
	position: absolute;
	width: 90%;
	background-color: #59E0FF;
}

h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 45px;
	padding: 10px;
}

.place {
	display: flex;
	justify-content: center;
	padding: 80px;
}